.fitContainer {
  display: flex;
  align-items: center;
  flex-direction: column;

  .chartTableFlex {
    display: flex;
    justify-content: space-around;
    width: 80%;

    .chartContainer {
      width: 80%;
    }

    table {
      display: block;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  .dataAnalysisSectionContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 80%;

    .userInput {
      display: flex;

      align-items: center;
      padding: 5px;
    }

    p {
      padding: 10px;
    }
  }


}