.linearFitContainer {
  display: flex;
  align-items: center;
  flex-direction: column;

  .chartContainer {
    width: 80%;
  }

  .dataAnalysisSectionContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 80%;

    .userInput {
      display: flex;

      align-items: center;
      padding: 5px;
    }

    .dataInputContainer {
      display: flex;
      flex-direction: column;


    }

    p {
      padding: 10px;
    }
  }
}