nav.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  position: fixed;
  top: 0;
  left:0; 

  width: 100%;
  height: 3em;
  background-color: aqua;

  // font-size: 10px;
  
  .left{
    display:flex;
  }
  .right{
    display:flex;
  }
  .center{
    position:absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
  }
}